# Default ignored files
/../../../../../../../../:pythonProject/.idea/shelf/
/../../../../../../../../:pythonProject/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:pythonProject/.idea/dataSources/
/../../../../../../../../:pythonProject/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../../../../../:pythonProject/.idea/httpRequests/
